html{
    height: 100%;
}

body{
    user-select: none;
    background-color: #f8f8f8;
    font-family: 'Monotype Corsiva', serif;
    color: #c80808;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    transition: 1s ease-in-out;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(50px, 5vw);
    text-align: center;
    width: min(500px, 60%);
    aspect-ratio: 16/9;
    padding: 30px;
    background-color: #c80808c8;
    backdrop-filter: blur(10px);
    color: #f8f8f8;
    text-shadow: #00000048 .1rem .05rem;
    border-radius: 12px;
    transform-style: preserve-3d;
    opacity: 1;
}

.hidden{
    display: none !important;
}

.img{
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
    filter: drop-shadow(8px 8px 5px #c38844ad);
}

.number{
    position: relative;
    width: clamp(100px, 40%, 400px);
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 -100px 0 0;
}

.greeting{
    width: fit-content;
    aspect-ratio: 16/9;
    margin: 150px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #f8f8f8;
    text-shadow: #00000048 2px 1px;
    font-size: min(105px, 10vw);
    font-family: "cooper-black-std", serif;
    font-weight: 800;
    z-index: 3;
}

.greet{
    transform: translateY(-100px);
    opacity: 0;
}

#one{
    position: absolute;
    bottom: 0;
    right: 30%;
    z-index: 2;
}
#eight{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.reveal{
    animation: reveal .8s forwards;
    animation-delay: var(--d);
}

@keyframes reveal {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}